<div class="form-group" ng-class="{'has-error': hasError(), 'has-success': hasSuccess(), 'has-feedback': form.feedback !== false }">
  <label class="control-label" ng-show="showTitle()">{{form.title}}</label>
  <div class="form-control-date">
    <div class="input-group">
      <input type="text" class="form-control" schema-validate="form" ui-date-picker datepicker-popup ng-model="$$value$$" is-open="opened" datepicker-options="form.options.dateOptions" />
      <span class="input-group-addon" ng-click="open($event)"><i class="fa fa-calendar"></i></span>
    </div>
  </div>
  <span ng-if="hasError() || hasSuccess()"
        id="{{form.key.slice(-1)[0] + 'Status'}}"
        class="sr-only">{{ hasSuccess() ? '(success)' : '(error)' }}</span>

  <div class="help-block" sf-message="form.description"></div>

</div>
